# Virtual environments
.venv/
venv/
ENV/

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# DVC local remote storage (external data cache)
dvc_remote_storage/

# IDE configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Sensitive files / keys
.env
*.env
secret.json
